/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

nav {
    /*shorthand property	*/
	/* Creates spce between the ul tag and the nav elemnets   */
	padding: 0.8rem;

	/*padding propertises*/
	/*padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-right: 0.8rem;
	padding-right: 0.8rem;*/

	/*create space between the nav and intro*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
/*	list-style-type: none;*/
}

/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between an element's border and it's content.*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro, #succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	/*creates space beetween the contents of the intro*/
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info h2, #succeed-info h3{
	margin-bottom: 1rem;
}

#succeed-info .card {
/*should appear beside each other	*/
	display: inline-block;

	/*aligns elements with the tallest element in line*/
			    /*used with the "inline-block" value*/
	vertical-align: top;

	/*allows for cards to have equal height that adjust with the content*/
	min-height: 175px;

	/*measurement is based on equally dividing the parent container's width*/
			    /*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
	width: 30%;

	/*creates horizontal spacing between cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*PREFOOTER SECTION*/
#pre-footer {
	padding: 1rem;
	color: white;
	background-color: #002540;
}

#pre-footer div {
	display: inline-block;
	vertical-align: bottom;
	width: 20%;
}

div.pre-footer h3, div.pre-footer p {
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}

/*FOOTER SECTION*/
footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}