* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	
}

nav {
	position: sticky;
	background-color: white;
	padding: 0.5rem;
	padding-left: 4rem;
	padding-right: 4rem;
	top: 0;
	z-index: 3;
}

.nav-logo, .right-nav, .nav{
	display: inline;
	margin: 0.5rem;
	vertical-align: center;
}

.nav-logo > img {
	padding-top: 0.5rem;
}

.right-nav {
	float: right;
}

.tuitt-button, .apply-button {
	background-color: #c2195b;
	border-radius: 25px;
	border-style: none;
	padding: 12px;
	padding-left: 17px;
	padding-right: 17px;
	color: white;
	font-weight: bold;
}

.apply-button {
	font-size: 16px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	z-index: 1;
	position: relative;
	width: 100%;
	min-height: 45vh;
	
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	position: relative;
	width: 100%;
	min-height: 45vh;
}

.title, .title-2 {
	font-family: "Zilla Slab", sans-serif;
	margin-bottom: 1.5rem;
/*	margin-top: 1.5rem;*/
	

}

.title {
	font-size: 2.5rem;
	font-weight: 900;
	
}
.subtitle {
	font-weight: 100;
	margin-bottom: 1rem;
	font-size: 18px;
}


.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 1.5rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.intro {
/*	text-align: center;*/
	height: 40vh;
	margin-top: 4rem;
	margin-left: 4rem;
	margin-right: 4rem;
	display: block;
}

.book-button {
	background-color: #336589;
	border-radius: 25px;
	padding: 15px;
	color: white;
	margin: 1rem;
	border-style: none;
	font-weight: bold;
}

footer {
	text-align: center;
	margin-bottom: 1rem;
}

.container {
	color: white;
	text-align: right;
	margin: 1rem;
	margin-bottom: 0;
/*	margin-left: 20rem;*/
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 1rem;
	padding-top: 0;
	width: 60vw;
/*	position: relative;*/
	min-height: 40vh;
	float: right;


}

.container > * {
	
}

.into-description {
	text-align: justify;
	margin-left: 5rem;
	margin-right: 5rem;
}

.title-2 {
	text-align: center;
}