Solution A.
-https://www.w3schools.com/tags/att_input_maxlength.asp

Solution A.
-The maxlength attribute specifies the maximum number of characters allowed in the <input> element.

Solution A.
<input type="text" id="username" name="username" maxlength="15">



Solution B.

https://www.w3schools.com/tags/att_img_alt.asp

Solution B.
- The alt attribute is meant to be used as an alternative text if the image is not available.

Solution B.
<img src="w3schools.jpg" alt="alternative text" >


Solution C
-https://www.w3schools.com/tags/tag_code.asp
Solution C
-The <code> tag is used to define a piece of computer code. The content inside is displayed in the browser's default monospace font.
Solution C
<code>
	class Simple{  
	    public static void main(String args[]){  
	     System.out.println("Hello Java");  
	    }  
	}  
</code>


Solution D
https://getbootstrap.com/docs/5.0/components/carousel/#individual-carousel-item-interval

Solution D

The carousel is a slideshow for cycling through a series of content, built with CSS 3D transforms and a bit of JavaScript. It works with a series of images, text, or custom markup. It also includes support for previous/next controls and indicators.First install bootstrap  5 to your website

Add data-bs-interval="" to a .carousel-item to change the amount of time to delay between automatically cycling to the next item.

Solution D
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>